* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 18, 44);
}

#output {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;

}

.card {
    width: 16%;
    margin: 3%;
    padding: 10px;
    height: auto;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgb(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    transition: all .2s ease-in-out;
    animation-delay: 1s;
}

.card:hover {
    transform: scale3d(1.2);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);


}